* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: "Verdana", Geneva, Tahoma, sans-serif;
	font-size: 15px;
	margin: 20px;
}

h1 {
	margin: 0 0 30px 100px;
}

h2 {
	margin-bottom: 20px;
}

p {
	padding: 0 0 2px 0;
}

/* #selecttype {
	margin: 0 0 0 40px;
} */

.inform {
	margin: 17px 0 0 0;
}

.inform, p{
	text-align: left;
}